@model IEnumerable<TS2302004.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Employee List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form id="deleteForm" asp-action="DeleteSelected" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DoB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <input type="checkbox" name="selectedIds" value="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" id="deleteButton">Delete</button>
</form>

<script>
    document.getElementById('deleteButton').addEventListener('click', function () {
        if (confirm('Are you sure you want to delete?')) {
            document.getElementById('deleteForm').submit();
        }
    });
</script>
